.timestamp {
  margin-left: auto;
  font-size: smaller;
}

form input[type] {
  width: calc(100% - 26px);
}

#messages {
  max-height: 70vh;
  overflow: auto;
  margin-bottom: 2.5rem;
  padding-right: 1rem;
}

div.message {
  background-color: #303d4e;
  padding: 0.6rem;
  font-family: sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

div.message:last-child {
  margin-bottom: 0;
}

.user-wrapper input {
  margin-left: 1rem;
  margin-right: 1rem;
}

.name {
  font-weight: bold;
  margin-right: .25rem;
  align-self: flex-start;
}